.category{
    display: flex;
    flex-direction: column;
}

.category div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.category h1 {
    font-size: 30px;
}